<% content_for :title do %>
Liste des rues
<% end %>


<div class="w-full container">

  <div class="flex justify-between items-center mb-5">
    <h1 class="font-bold text-4xl lg:text-5xl -skew-y-3 text-isabellinewhite uppercase text-balance w-4/5"><span class="bg-darkgreen"> Liste des rues </span></h1>
    <%#= render partial: 'admin_buttons' %>
  </div>

  <% for location in @locations %>
  	<h2 class="font-bold text-4xl lg:text-3xl text-razzmicberry uppercase text-balance w-4/5"><%= location.name %></h2>
	<ul class="md:columns-2 lg:columns-3 mb-10">
	<% for street in @streets[location] %>
		<% unless street.has_parent %>
		<li class="break-inside-avoid-column">
			<button class="dropbtn" style="background-color:<%= Street::STATUSES[street.status] %>">&nbsp;</button>
			<%= link_to street.name, street_path(street), class: "hover:underline hover:text-razzmicberry text-[#{Street::STATUSES[street.status]}]" %>
			<span class="text-gray-400"><%= pluralize street.houses, 'boîte' %></span>
			<% if street.has_children %>
			<ul class="pl-6">
				<% for substreet in street.children %>
					<li class="">
						<button class="dropbtn" style="background-color:<%= Street::STATUSES[substreet.status] %>">&nbsp;</button>
						<%= link_to substreet.name, street_path(substreet), class: "hover:underline hover:text-razzmicberry text-[#{ Street::STATUSES[substreet.status]}]" %>
						<span class="text-gray-400"><%= pluralize substreet.houses, 'boîte' %></span>
					</li>
				<% end %>
			</ul>
			<% end %>
			</li>
		<% end %>
	<% end %>
	</ul>
  <% end %>
  
  <!-- <div class="py-1 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xxl:grid-cols-6 gap-5">
      <%#= render partial: 'street', collection: @streets %>
  </div> -->
 </div>

