
<div id="<%= dom_id card %>" class="rounded-lg overflow-hidden shadow-lg bg-yellow-300 hover:bg-lime-400 border-2 border-transparent hover:border-lime-700 relative">
	
	<div class="flex">
		<% card.persisted_images.each do |image| %>
			<figure class="h-48 overflow-hidden">
				<%= image_tag image.variant(:thumb), class:"object-cover min-h-48" %>
			</figure>
		<% end %>
	</div>
	<% if user_signed_in? %>
		<%= link_to edit_card_path(card), class: "bg-sky-200/50 hover:bg-sky-300 text-sky-600 font-medium py-1 px-3 rounded-lg inline-flex items-center absolute top-3 right-3" do %>
			<%= render "layouts/icons/wrench" %>
		<% end %>
	<% end %>
  	<div class="p-3">
	    <div class="font-bold text-xl mb-2">
			<%= link_to card.title, card, class:"text-lime-700" %>
		</div>
	    <div class="px-2  pb-2">
			<% card.locations.each do |location| %>
	     	 <span class="inline-block bg-lime-700 rounded-full px-3 py-1 text-sm font-semibold text-yellow-200 mr-2 mb-2">#<%= location.name %></span>
		  	<% end %>
			<% card.topics.each do |topic| %>
	     	 <span class="inline-block bg-lime-700 rounded-full px-3 py-1 text-sm font-semibold text-yellow-200 mr-2 mb-2">#<%= topic.name %></span>
		  	<% end %>
			<% card.statuses.each do |status| %>
	     	 <span class="inline-block bg-lime-700 rounded-full px-3 py-1 text-sm font-semibold text-yellow-200 mr-2 mb-2">#<%= status.name %></span>
		  	<% end %>
	    </div>
	    <% if action_name == "show" %>
	    <p class="text-lime-700 text-base">
	      <%= card.body %>
		</p>
		<% end %>
    
  	</div>
  
</div>