
<div id="<%= dom_id card %>" class="rounded-lg overflow-hidden shadow-lg hover:shadow-none bg-stone-100 hover:bg-stone-200 border-2 border-transparent hover:border-lime-700 relative">
	
	<div class="flex">
		<% card.persisted_images.each do |image| %>
			<figure class="h-48 overflow-hidden">
				<%= image_tag image.variant(:thumb), class:"object-cover min-h-48" %>
			</figure>
		<% end %>
	</div>
	
	<% if user_signed_in? %>
		<%= link_to edit_card_path(card), class: "bg-sky-200/50 hover:bg-sky-300 text-sky-600 font-medium py-1 px-3 rounded-lg inline-flex items-center absolute top-3 right-3" do %>
			<%= render "layouts/icons/wrench" %>
		<% end %>
	<% end %>
	
  	<div class="p-3">
	    <div class="font-bold text-xl">
			<%= link_to card.title, card, class:"text-lime-700" %>
		</div>
	    <div class="mb-2 text-lime-700">
			<%= card.subtitle %> <%= link_to "> Plus ...", card, class:"text-lime-700 hover:underline" unless action_name == "show" or card.body.blank? %>
		</div>
	    <div>
			<%= render partial: 'tag', collection: card.locations %>
			<%= render partial: 'tag', collection: card.topics %>
			<%= render partial: 'tag', collection: card.statuses %>
	    </div>
	    <% if action_name == "show" %>
		<div class="text-lime-700">
	      <%= card.body %>
	  	</div>
		<% end %>
  	</div>
  
</div>