<% content_for :title do %>
Accueil
<% end %>


<div class="w-full container">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-5xl text-darkgreen">Nos réalisations et nos idées</h1>
    <%= render partial: 'new_card_button' %>
  </div>
  
<div class="">Explorer par  :</div>
<div class="flex"> 
	<div class="flex-none w-32">Localités :</div>
  	<div class="flex-1 [&_a]:bg-marinegreen">
		<%= render partial: 'tag', collection: ActsAsTaggableOn::Tag.for_context(:locations).most_used(10) %>
	</div>
</div>
<div class="flex"> 
	<div class="flex-none w-32">Thèmes :</div>
	<div class="flex-1">
		<%= render partial: 'tag', collection: ActsAsTaggableOn::Tag.for_context(:topics).most_used(10) %>
	</div>
</div>
<div class="flex">
	<div class="flex-none w-32">Statuts :</div>
	<div class="flex-1 [&_a]:bg-fluogreen [&_a]:text-grapeblack">
		<%= render partial: 'tag', collection: ActsAsTaggableOn::Tag.for_context(:statuses).most_used(10) %>
	</div>
</div>

  <div class="py-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xxl:grid-cols-6 gap-5">
      <%= render @cards %>
  </div>
</div>

