<% content_for :title do %>
<%= @card.title %>
<% end %>

<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @card %>

	<% if user_signed_in? %>
	    <%= link_to "Modifier", edit_card_path(@card), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
	    <div class="inline-block ml-2">
	      <%= button_to "Supprimer", card_path(@card), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
	    </div>
	<% end%>
    <%= link_to "Liste", cards_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
