<% content_for :title do %>
<%= @card.title %>
<% end %>
<div class="w-full container">
  <span class="[&_a]:bg-fluogreen [&_a]:text-grapeblack"><%= render partial: 'tag', collection: @card.statuses %></span>
  <div class="flex justify-between items-center mb-2">
    <h1 class="font-bold text-5xl text-darkgreen"><%= @card.title %></h1>
  </div>
  
  <div id="subtitle" class="mb-2 font-bold text-xl text-grapeblack">
	<%= @card.subtitle %>
  </div>
  
  <div id="tags">
	<span ><%= render partial: 'tag', collection: @card.topics %></span>
	<span class="[&_a]:bg-marinegreen"><%= render partial: 'tag', collection: @card.locations %></span>
  </div>
  
  <div class="container mx-auto py-2">
    <div class="-m-1 flex flex-wrap md:-m-2">
      <div class="flex w-full lg:w-1/2 flex-wrap">
	  	<% @card.persisted_images[0..2].each_with_index do |image, index| %>	  		
		  <div 
			  <%if index == 0 or @card.persisted_images[0..2].size == 2 %> class="w-full p-1 md:p-2"
			  <% else  %> class="w-1/2 p-1 md:p-2"
			  <% end %>>
			<%= image_tag image, class:"block w-full max-h-80 rounded-lg object-cover object-center" %>
		  </div>
		  
		<% end %>
      </div>
      <div class="flex w-full lg:w-1/2 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <div class="block p-3 w-full rounded-lg shadow-lg bg-isabellinewhite text-grapeblack">
			<%= @card.body %>
		  </div>
		  <h2 class="mt-20 mb-3 text-2xl text-marinegreen font-bold">
			  Sur le même thème ...
		  </h2>
		  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-2 xxl:grid-cols-3 gap-5">
			  <%= render partial: 'card', collection: @card.find_related_topics.limit(5) %>
		  </div>
        </div>
      </div>
    </div>
  </div>

	<% if user_signed_in? %>
		<%= link_to edit_card_path(@card), class: "bg-sky-200/50 hover:bg-sky-300 text-sky-600 font-medium py-1 px-3 rounded-lg inline-flex items-center absolute bottom-3 right-3" do %>
			<%= render "layouts/icons/wrench" %>
		<% end %>
		<div class="inline-block ml-2">
	      <%= button_to "Supprimer", card_path(@card), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
	    </div>
	<% end%>
	
    <%= link_to "Liste", cards_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
