<% content_for :title do %>
	<% @tags.each do |tag| %>
		#<%= tag.name%>
	<% end %>
<% end %>

<% content_for :meta do %>
	<meta property="og:url"                content="<%= cards_tagged_url @tags %>" />
	<meta property="og:type"               content="list" />
	<meta property="og:title"              content="<%= @tags.map{|tag|"##{tag}"}.join(" ") %> - Ecolo Profondeville" />
	<% unless @cards.empty? or @cards.first.persisted_images.empty? %>
		<meta property="og:image"              content="<%= rails_blob_url(@cards.first.persisted_images.first.variant(:web)) %>" />
	<% end %>
<% end %>

<div class="w-full container">
  <div class="flex justify-between items-center mb-2">
    <h1 class="font-bold text-5xl text-darkgreen">
		<% @tags.each do |tag| %>
			<%= link_to_unless current_page?(cards_tagged_path(tag.id)), "##{tag.name}", cards_tagged_path(tag), class:"hover:underline hover:text-razzmicberry"%>
		<% end %>
	</h1>
    <%= render partial: 'admin_buttons' %>
  </div>
   	
  <%= link_to "Retour à la liste", cards_path, class:"hover:underline font-bold text-lg mb-2" %>

  <div class="py-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xxl:grid-cols-6 gap-5">
      <%= render @cards %>
  </div>
</div>