<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> - Ecolo Profondeville</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
	<%= render 'layouts/heads' %>
  </head>

  <body>
    <main class="container mx-auto mt-12 px-5 text-grapeblack">
		<div class="w-full container">
		  <% if notice.present? %>
		    <p class="w-full py-2 px-3 bg-lightgreen mb-5 text-darkgreen font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
		  <% end %>
		  <% if alert.present? %>
		    <p class="w-full py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="notice"><%= alert %></p>
		  <% end %>
 	 	</div>
		<div class="flex gap-5 flex-wrap mb-5 lg:mb-0">
			<div class="">
				<%= link_to root_path, class:"" do %>
					<%= image_tag("logo_ecolo_profondeville.png", width: 350, data: { title: 'Logo Ecolo Profondeville' }) %>
				<% end %>
			</div>
			<div id="navigation" class="flex flex-row gap-4">
				<div class=""><%= link_to_unless_current 'Les priorités', root_path, class:"text-isabellinewhite bg-razzmicberry hover:text-grapeblack hover:bg-fluogreen font-bold uppercase p-2 rounded-lg mb-1" do %>
					<span class="text-grapeblack bg-fluogreen font-bold uppercase p-2 rounded-lg mb-1" >Les priorités</span>
				<% end %></div>
				<div class=""><%= link_to_unless_current 'Les candidat.es', candidates_path, class:"text-isabellinewhite bg-razzmicberry hover:text-grapeblack hover:bg-fluogreen font-bold uppercase p-2 rounded-lg mb-1" do %>
					<span class="text-grapeblack bg-fluogreen font-bold uppercase p-2 rounded-lg mb-1" >Les candidat.es</span>
				<% end %></div>
				<div class=""><%= link_to_unless_current 'Les histoires', root_path(anchor: 'detail'), class:"text-isabellinewhite bg-razzmicberry hover:text-grapeblack hover:bg-fluogreen font-bold uppercase p-2 rounded-lg mb-1" do %>
					<span class="text-grapeblack bg-fluogreen font-bold uppercase p-2 rounded-lg mb-1" >Les histoires</span>
				<% end %></div>
				<div class=""><%= link_to 'A vous', "https://framaforms.org/envoyez-nous-vos-propositions-1724787844", target:"blank", class:"text-isabellinewhite bg-razzmicberry hover:text-grapeblack hover:bg-fluogreen font-bold uppercase p-2 rounded-lg mb-1" %></div>
			</div>
		</div>
      	<%= yield %>
		<footer>
			<% if user_signed_in? %> 
			 <div> <%= current_user.email %> </div> 
			  <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %> 
			<% end %>
		</footer>
    </main>
  </body>
</html>
